<div
  class="pensamento {{ pensamento.modelo }} ff-roboto-mono"
  ngClass="larguraPensamento()"
>
  <img
    src="../../../../assets/Imagens/{{ pensamento.modelo }}.png"
    alt="Aspas coloridas"
  />
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria">
    <b>{{ pensamento.autoria }}</b>
  </p>
  <div class="acoes">
    <button class="botao-editar">
      <img
        src="../../../../assets/Imagens/icone-editar.png"
        alt="Íconde de editar"
      />
    </button>
    <button class="botao-editar">
      <img
        src="../../../../assets/Imagens/icone-excluir.png"
        alt="Íconde de excluir"
      />
    </button>
  </div>
</div>
